/*
*= require /foundation/css/foundation.min.css
*= require /foundation-icon-fonts/foundation-icons.css
*= require_self
*/

body { padding-top: 75px; }

table { border: 0; }

.panel {
	background: #FFF;
	border: 1px solid #EEE;
}

.quote { display: inline-block; }

.tiny { margin-bottom: 0.25rem }

.filter-header { cursor: pointer; }

